<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nota de Venta</th>
            <th scope="col">IdMercado Libre</th>
            <th scope="col">Customer Pro</th>
            <th scope="col">Guia Rastreo</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let compras of comprasListado">
            <td> {{ compras.nota_de_venta}} </td>
            <td> {{ compras.id_mercadolibre }}</td>
            <td> {{ compras.customerpo }}</td>
            <td> {{ compras.guia_rastreo }}</td>
            <td> <button class="btn btn-danger" (click)="descargar(compras.customerpo)">Descargar Guia</button> </td>

        </tr>

    </tbody>
</table>